.button {
  font-family: $secondary-font;
  font-weight: $font-weight-normal;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  &--primary {
    color: $light-text;
    background-color: $bg-primary;

    &:hover,
    &:focus-visible {
      background-color: $bg-primary-hover;
    }

    &:active {
      color: rgba($light-text, 0.3);
      background-color: $bg-primary-hover;
    }
  }

  &--secondary {
    color: $gray-text;
    background-color: $bg-secondary;

    &:hover,
    &:focus-visible,
    &:active {
      background-color: $bg-secondary-hover;
    }
  }

  &--transparent {
    background-color: transparent;
  }
}
