.promo {
  margin-bottom: 20px;
  padding: 0 20px;
  font-family: $secondary-font;
  color: $light-text;
  background-color: $bg-primary;
  background-image:
    image-set(url("../../images/promo-cat-mobile@1x.webp") type("image/webp") 1x,
    url("../../images/promo-cat-mobile@2x.webp") type("image/webp") 2x,
    url("../../images/promo-cat-mobile@1x.png") type("image/png") 1x,
    url("../../images/promo-cat-mobile@1x.png") type("image/png") 2x);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
  position: relative;

  &::before {
    @include pseudo-element (100%, 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(to bottom, (rgba(104, 183, 56, 0.85) 63%, $bg-default 63%));
  }

  @media (min-width: $tablet-width) {
    color: $dark-text;
    background-color: $bg-default;
    margin-bottom: 82px;
    background-image: none;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
    background-color: $bg-default;
    background-image:
      linear-gradient(to right, $bg-default 50%, rgba(104, 183, 56, 0.85) 50%),
      image-set(url("../../images/promo-cat-desktop@1x.webp") type("image/webp") 1x,
      url("../../images/promo-cat-desktop@2x.webp") type("image/webp") 2x,
      url("../../images/promo-cat-desktop@1x.png") type("image/png") 1x,
      url("../../images/promo-cat-desktop@1x.png") type("image/png") 2x);
    background-position: center, right;
    background-repeat: repeat, no-repeat;
    background-size: auto, contain;
  }
}

.promo__wrapper {
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 1;
  font-weight: $font-weight-normal;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
  }
}

.promo__tagline {
  font-size: 14px;
  line-height: 1;
  font-weight: $font-weight-normal;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.promo__button {
  font-size: 16px;
  line-height: 1.25;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.3;
  }
}
